<app-layout>
    <form [formGroup]="form" class="d-flex flex-column align-items-center">
        <div class="col-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="col-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="col-3">
            <label class="form-label">Role</label>
            <input type="text" class="form-control" formControlName="role">
        </div>
        <div class="col-3">
            <button class="col-6 btn btn-success" (click)="saveUser()">Submit</button>
            <button class="col-6 btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
    </form>
</app-layout>